<body class="h-screen bg-white bg-no-repeat mt-2">

  <h1 class="text-5xl text-cyan-800 text-center font-medium leading-tight">Bienvenidos al nuevo canal</h1>
  <hr class="text-light">
  <main>
    <section>
      <h1 class="text-2xl text-cyan-800 text-center font-medium leading-tight" >Bienvenido a mi Página Web</h1>
      <article>
        <p class="text-xl text-cyan-800 text-start font-medium leading-tight m-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
          placeat excepturi sapiente saepe rerum et deserunt, eveniet, amet
          corporis animi minus aliquid officiis. Rem deserunt ab, quaerat
          dignissimos tempora quam.
        </p>
      </article>
      <hr class="text-dark">
      <article>
        <h2 class="text-3xl text-cyan-800 text-center font-medium leading-tight">Otra información</h2>

        <p class="text-xl text-cyan-800 text-start font-medium leading-tight m-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum
          consequuntur consectetur minima mollitia, aperiam aut, sit
          consequatur a corporis debitis nostrum blanditiis quibusdam
          <b><i>expedita molestiae impedit necessitatibus et rerum?</i></b>
        </p>
      </article>
    </section>
  </main>

</body>
