<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{title}}</h2>
    <form [formGroup]="vehiculoForm" (ngSubmit)="onSubmit()" autocomplete="on">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

        <div class="w-full">
          <label for="placa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Placa</label>
          <input formControlName="placa" type="text" name="placa" id="placa"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="vehiculoForm.controls['placa'].invalid && (vehiculoForm.controls['placa'].dirty
            || vehiculoForm.controls['placa'].touched)">
            <p *ngIf="vehiculoForm.controls['placa'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> la placa es requerida!
            </p>
          </div>
        </div>

        <div class="w-full">
          <label for="marca" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Marca</label>
          <input formControlName="marca" type="text" name="marca" id="marca"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="vehiculoForm.controls['marca'].invalid && (vehiculoForm.controls['marca'].dirty
            || vehiculoForm.controls['marca'].touched)">
            <p *ngIf="vehiculoForm.controls['marca'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> la marca es requerida!
            </p>
          </div>
        </div>

        <div class="w-full">
          <label for="modeloCarroceria" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo
            Carroceria</label>
          <input formControlName="modeloCarroceria" type="text" name="modeloCarroceria" id="modeloCarroceria"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="vehiculoForm.controls['modeloCarroceria'].invalid && (vehiculoForm.controls['modeloCarroceria'].dirty
            || vehiculoForm.controls['modeloCarroceria'].touched)">
            <p *ngIf="vehiculoForm.controls['modeloCarroceria'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El tipo de carroceria es requerido!
            </p>
          </div>
        </div>

        <div class="w-full">
          <label for="tipoCombustible" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
            Combustible</label>
          <input formControlName="tipoCombustible" type="text" name="tipoCombustible" id="tipoCombustible"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="vehiculoForm.controls['tipoCombustible'].invalid && (vehiculoForm.controls['tipoCombustible'].dirty
            || vehiculoForm.controls['tipoCombustible'].touched)">
            <p *ngIf="vehiculoForm.controls['tipoCombustible'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El tipo de combustible es requerido!
            </p>
          </div>
        </div>

        <div formGroupName="propietario" class="sm:col-span-2">
          <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Propietario
            Vehiculo</label>
          <select formControlName="id" name="id" id="id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option [selected] [ngValue]="0">Seleccione el Propietario</option>
            <option *ngFor="let propietario of propietarios" [ngValue]="propietario.id">
              {{propietario.primerNombre}}{{'
              '}}{{propietario.primerApellido}}</option>
          </select>
          <div *ngIf="vehiculoForm.controls['propietario'].invalid && (vehiculoForm.controls['propietario'].dirty
            || vehiculoForm.controls['propietario'].touched)">
            <p *ngIf="vehiculoForm.controls['propietario'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El propietario es requerido!
            </p>
          </div>
        </div>

        <div class="w-full">
          <label for="modeloAnio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fecha de
            Ingreso</label>
          <input formControlName="modeloAnio" name="modeloAnio" type="date" id="modeloAnio"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light">
          <div *ngIf="vehiculoForm.controls['modeloAnio'].invalid && (vehiculoForm.controls['modeloAnio'].dirty
            || vehiculoForm.controls['modeloAnio'].touched)">
            <p *ngIf="vehiculoForm.controls['modeloAnio'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> La fecha de ingreso es requerida!
            </p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">{{currentVehiculo.id > 0? 'Actualizar' : 'Agregar'}}
        </button>

        <button (click)="onReset()" type="reset"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Limpiar Campos
        </button>
      </div>
    </form>
  </div>
</section>
