<div class="container">
  <div class="card bg-light">
    <!-- <div class="card-header">-->
    <h3 class="text-secondary"></h3>
  </div>
  <div class="card-body">
    <form  [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div>
        <input class="form-control my-2" placeholder="Name" name="name" formControlName="name">
      </div>
      <div>
        <input class="form-control my-2" placeholder="Description" name="description" formControlName="description">
      </div>
      <div>
        <input class="form-control my-2" placeholder="Sku" name="sku" formControlName="sku">
      </div>
      <div>
        <input type="number" class="form-control my-2" placeholder="Price" name="price" formControlName="price">
      </div>
      <div>
        <button type="submit" class="btn btn-sm btn-outline-primary mx-3">Guardar</button>
        <button type="button" class="btn btn-sm btn-outline-success">Limpiar</button>
      </div>
    </form>
  </div>
</div>


