<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Agregar Nuevo Producto</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Producto</label>
          <input formControlName="name" type="text" name="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty
            || productForm.controls['name'].touched)">
            <p *ngIf="productForm.controls['name'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El nombre del producto es requerido!
            </p>
          </div>
        </div>

        <div class="w-full">
          <label for="sku" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Referencia
            Producto</label>
          <input formControlName="sku" type="text" name="sku" id="sku"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <div *ngIf="productForm.controls['sku'].invalid && (productForm.controls['sku'].dirty
            || productForm.controls['sku'].touched)">
            <p *ngIf="productForm.controls['sku'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span>La referencia del producto es requerida!
            </p>
          </div>
        </div>


        <div class="w-full">
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
          <input formControlName="price" type="text" name="price" id="price"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="0">
          <div *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].dirty
             || productForm.controls['price'].touched)">
             
            <p *ngIf="productForm.controls['price'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El precio es requerido!
            </p>
            <p *ngIf="productForm.controls['price'].errors?.['minLength']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> El precio minimo es 500!
            </p>
            <p *ngIf="productForm.controls['price'].errors?.['pattern']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> Debes ingresar solo números!
            </p>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
          <textarea formControlName="description" name="description" id="description" rows="5"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Descripción del producto"></textarea>
          <div *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].dirty
            || productForm.controls['description'].touched)">
            <p *ngIf="productForm.controls['description'].errors?.['required']"
              class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span>La descripción del producto es requerida!
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Agregar Producto
        </button>
        <button (click)="onReset()" type="reset"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Limpiar Campos
        </button>
      </div>
    </form>
  </div>
</section>